#contact {
    padding: 60px 20px;
    text-align: center;
  }
  
  #contact h3 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  #contact input,
  #contact textarea {
    width: 90%;
    padding: 12px;
    margin-top: 10px;
    background-color: #1f2937;
    border: none;
    border-radius: 8px;
    color: white;
  }
  
  #contact .button {
    margin-top: 20px;
    background-color: #db2777;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #contact .button:hover {
    background-color: #be185d;
  }