@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Open+Sans:wght@400&display=swap');


/* General Styles */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: white;
  padding: 0;
}

/* Footer */
footer {
  background-color: #1f2937;
  padding: 20px;
  text-align: center;
  color: #d1d5db;
}